*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #FFF8F3;
}

.lighter-text{
    color: #FD6E0A;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}

.menu-item{
    display: inline;
    padding: 15px;
}

.primary-btn{
    background-color: #FD6E0A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
}

/* banner aread style */

.banner-container{
    background-image: url("/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.banner-content{
    width: 300px;
}

.banner-content p{
    margin: 20px 0;
}
/* about section style */

.about-section{
    width: 600px;
    height: 150px;
    background-color: #FFF8F3;
    margin: 130px 230px;
    text-align: center;
    padding: 130px 150px;
}

.aboutme-info{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

/* what i do section style */

.expertise-info{
    text-align: center;
    width: 60%;
    margin: auto;
}

.expertise-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px 200px;
}

.box{
    width: 200px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

.box img, h4, p{
    margin: 10px;
}

/* resume summary style */

.resume-summary-container{
    display: flex;
    margin: 20px 200px;
}

.resume-summary h2{
    text-align: center;
}

.education{
    margin-right: 10px;
}

.experience{
    margin-left: 10px;
}

.education h2{
    text-align: left;
    margin-bottom: 10px;
}

.experience h2{
    text-align: left;
    margin-bottom: 10px;
}

.education-item h4, p{
    color: #757575;
}
.experience-item h4, p{
    color: #757575;
}

.above-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

/* footer area styling */